[transmogrifier]
pipeline =
    source
    extract
    constructor
    schemaupdater
    print

[source]
blueprint = transmogrify.filesystem
directory = docs/sample_content
file-type = Document
file-field = text
wrap-data = false

[extract]
blueprint = transmogrify.extract

[constructor]
#blueprint = collective.transmogrifier.sections.folders
blueprint = transmogrify.ploneremote.remoteconstructor
target = http://admin:admin@localhost:8080/Plone

[schemaupdater]
blueprint = transmogrify.ploneremote.remoteschemaupdater
target = http://admin:admin@localhost:8080/Plone

[print]
blueprint = transmogrify.print
